@import "/src/styles/theme.module.scss";

.button {
  flex: 1 1 0;
  max-width: 115px;
  max-height: 115px;
  cursor: pointer;
}

.container {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 23px;
  padding: 18px;

  &.ready {
    background: $light-blue;
  }

  &.disabled {
    background: $transparent-white;
    backdrop-filter: blur(10px);
  }
}

.icon {
  margin-bottom: 4px;
}

.label {
  margin-bottom: auto;
}

.timer {
  background: black;
  border-radius: 100px;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 1;
}

.readyLabel {
  background: $primary-blue;
  border-radius: 100px;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 1;
} 