@import "/src/styles/theme.module.scss";

.badge {
  background: $transparent-white;
  border-radius: 20px;
  min-width: 104px;

  .iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
  }

  .value {
    margin-right: 12px;
  }
} 