// Theme colors
$transparent-white: rgba(255, 255, 255, 0.16);
$primary-blue: rgb(51, 76, 255);
$light-blue: rgba(51, 120, 255, 0.41);

// Label colors
$power-color: rgb(255, 194, 111);
$energy-color: rgb(219, 119, 255);
$spell-color: rgb(19, 202, 198);